{% extends 'BootstrappBundle:Bootstrap2:base.html.twig' %}

{% if sidebar is not defined %}
    {% set sidebar = { visible: true, nav: false } %}
{% endif %}
{% if header is not defined %}
    {% set header = { nav: not sidebar.nav } %}
{% endif %}


{% block stylesheets %}
{% stylesheets filter='less' output='bundles/bootstrapp/css/app.css'
    "@BootstrappBundle/Resources/public/less/bootstrapp/bootstrap2-app.less"
%}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock stylesheets %}

{% block headline %}Twitter Bootstrap application layout{% endblock headline %}

{% block flashes %}
{{ parent() }}
{% for name, value in app.session.flashbag if name in ['success', 'error'] %}
<div class="alert alert-{{ name }}">
    <a class="close" data-dismiss="alert" href="#">×</a>
    {{ value|trans }}
</div>
{% endfor %}
{% endblock flashes %}

{% block modal_id %}confirmer-modal{% endblock %}
{% block modal_class %}hide fade{% endblock %}
{% block modal_header %}{{ 'confirmer.header'|trans }}{% endblock %}
{% block modal_body %}
<p class="confirmer-modal-question">{{ 'confirmer.question'|trans }}</p>
{% endblock %}
{% block modal_footer %}
<a class="confirmer-modal-confirm btn btn-primary">{{ 'yes'|trans }}</a>
<a class="btn" data-dismiss="modal">{{ 'cancel'|trans }}</a>
{% endblock %}

{% block body %}
    <div id="modal-ask" class="modal hide fade">
        <div class="modal-header">
            {# <a class="close" data-dismiss="modal">×</a> #}
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4>{{ 'modal.header'|trans }}</h4>
        </div>
        <div class="modal-body">
            <p>{{ 'modal.body'|trans }}</p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary">{{ 'modal.button.ok'|trans }}</a>
            <a class="btn" data-dismiss="modal">{{ 'modal.button.cancel'|trans }}</a>
        </div>
    </div>
    {{ parent() }}
{% endblock body %}

{% block container %}
    {% if sidebar is defined and sidebar.visible == true %}
    <div id="sidebar">
        {% block sidebar %}
        <div id="sidebar-header">
            {% block sidebar_header %}
            {% endblock %}
        </div>
        <div id="sidebar-content">
            {% if sidebar.nav is defined and sidebar.nav is iterable %}
                {% set active = '' %}
                {% for item in sidebar.nav %}
                    {% if item.href is defined %}
                        {% set sliced = app.request.pathInfo|slice(0, item.href|length) %}
                        {% if sliced == item.href and item.href|length > active|length %}
                            {% set active = item.href %}
                        {% endif %}
                    {% endif %}
                    {% if item.items is defined and item.items is iterable %}
                        {% for subitem in item.items %}
                            {% if subitem.href is defined %}
                                {% set sliced = app.request.pathInfo|slice(0, subitem.href|length) %}
                                {% if sliced == subitem.href and subitem.href|length > active|length %}
                                    {% set active = subitem.href %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <ul class="nav nav-list">
                    {% for item in sidebar.nav %}
                        {% if item.divider is defined %}
                            <li class="divider"></li>
                        {% endif %}
                        {% set classes = [] %}
                        {% if item.href is defined and active == item.href %}
                            {% set classes = classes|merge(['active']) %}
                        {% endif %}
                        {% if item.items is defined and item.items|length > 0 %}
                            {% set classes = classes|merge(['nav-header']) %}
                        {% endif %}
                        <li{% if classes|length > 0 %} class="{{ classes|join(' ') }}"{% endif %}>
                            {% if item.href is defined %}
                            <a href="{{ item.href }}" target="{{ item.target|default('_self') }}">
                            {% endif %}
                            {% if item.icon is defined %}<i class="{{ item.icon }}"></i>{% endif %}
                            {% if item.caption is defined %}{{ item.caption }}{% endif %}
                            {% if item.href is defined %}
                            </a>
                            {% endif %}
                        </li>
                        {% if item.items is defined and item.items is iterable %}
                            <ul class="nav nav-list">
                            {% for subitem in item.items %}
                                {% if subitem.divider is defined %}
                                    <li class="divider"></li>
                                {% endif %}
                                <li{% if active == subitem.href %} class="active"{% endif %}>
                                    <a href="{{ subitem.href }}" target="{{ subitem.target|default('_self') }}">
                                        {% if subitem.icon is defined %}<i class="{{ subitem.icon }}"></i>{% endif %}
                                        {% if subitem.caption is defined %}{{ subitem.caption }}{% endif %}
                                    </a>
                                    {% if active == subitem.href and sidebar.nav is defined and sidebar.nav %}
                                        {% set subnavtype = 'list' %}
                                        {{ block('subnavbar') }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% elseif sidebar.nav is defined and sidebar.nav %}
                {% set subnavtype = 'list' %}
                {{ block('subnavbar') }}
            {% endif %}
        </div>
        {% endblock sidebar %}
    </div>
    {% endif %}
    <div id="content">
        <div id="content-inner">
            {{ parent() }}
        </div>
    </div>
</div>
{% endblock container %}

{% block header %}
    {{ parent() }}
    {% if header.nav is defined and header.nav %}
        {% set subnavtype = 'pills' %}
        {{ block('subnavbar') }}
    {% endif %}
{% endblock header %}

{% block subnavbar %}
    {% if subnavtype is not defined %}
        {% set subnavtype = 'pills' %}
    {% endif %}
    <ul class="nav nav-{{ subnavtype }}">
        {% block subnav %}
        {% if subnavtype == 'pills' %}
        <li><a href="#"><i class="icon-info-sign"></i> {% trans %}Informations{% endtrans %}</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-flag"></i> {% trans %}Help{% endtrans %}</a></li>
        {% elseif subnavtype == 'list' %}
        <li class="nav-header">{% trans %}Menu{% endtrans %}</li>
        <li class="active"><a href="#"><i class="icon-white icon-home"></i> {% trans %}Home{% endtrans %}</a></li>
        <li><a href="#"><i class="icon-info-sign"></i> {% trans %}About{% endtrans %}</a></li>
        <li class="nav-header">{% trans %}My account{% endtrans %}</li>
        <li><a href="#"><i class="icon-cog"></i> {% trans %}Settings{% endtrans %}</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-flag"></i> {% trans %}Help{% endtrans %}</a></li>
        {% endif %}
        {% endblock subnav %}
    </ul>
{% endblock subnavbar %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/bootstrapp/js/bootstrapp.js') }}"></script>
{% endblock javascripts %}