{% extends 'BootstrappBundle:Doc:demo.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .page-header {
            padding-top: 80px;
        }
        .watch{position:relative;background-color:#000;height:80px;text-shadow:1px 1px 0 #000}
        .watch .band{position:relative;margin:0;padding:0; overflow:hidden;float:left;width:300px;background-color:#000;border:5px solid #f5f5f5;height:70px}
        .watch .face{position:absolute;width:70px;height:70px;top:-5px;left:50%;margin-left:-35px;background-color:#000;border:5px solid #f5f5f5;border-radius:65px;}
        .watch .face:after{position:absolute;top:50%;left:50%;margin:-4px;width:4px;height:4px;background-color:#000;border:2px solid #f5f5f5;border-radius:10px;content:"";display:block}
        .watch .face:before{position:absolute;top:10px;left:10px;width:50px;height:50px;background:#f5f5f5;border-radius:50px;content:"";display:block}
        .watch #hour{width:0;height:0;position:absolute;top:50%;left:50%;margin:-2px 0 -2px -14px;padding:2px 0 2px 14px;background:#222;-webkit-transform-origin:100% 50%;-moz-transform-origin:100% 50%;-ms-transform-origin:100% 50%;transform-origin:100% 50%}
        .watch #minute{width:0;height:0;position:absolute;top:50%;left:50%;margin:-22px -2px 0;padding:22px 2px 0;background:#222;-webkit-transform-origin:50% 100%;-moz-transform-origin:50% 100%;-ms-transform-origin:50% 100%;transform-origin:50% 100%}
        .watch #second{width:0;height:0;position:absolute;top:50%;left:50%;margin:-22px -1px 0 0;padding:22px 1px 0 0;background:#222;-webkit-transform-origin:50% 100%;-moz-transform-origin:50% 100%;-ms-transform-origin:50% 100%;transform-origin:50% 100%}

        .watch h1{line-height:80px;font-size:60px;margin:0;font-weight:100;color:#f5f5f5}
        .watch h1 span{font-size:30px;padding:0 10px;color:#666}
    </style>
{% endblock stylesheets %}

{% block header %}
    {% set breadcrumb = [{'text':'eyecon', 'url':path('bootstrapp_eyecon')}]|merge(breadcrumb) %}
    {{ parent() }}
{% endblock header %}

{% block headline %}
    <div class="watch">
        <div class="band">
            <div class="face">
                <div id="hour" style="-webkit-transform: rotate(150deg); "></div>
                <div id="minute" style="-webkit-transform: rotate(36deg); "></div>
                <div id="second" style="-webkit-transform: rotate(300deg); "></div>
            </div>
        </div>
        <h1>Bootstrapp demo <span>datetime</span></h1>
    </div>
{% endblock %}

{% block content %}
    <form action="{{ path('bootstrapp_eyecon') }}" method="post" {{ form_enctype(form) }}>
    <h4>Date and time pickers</h4>
    <h5>Bootstrap-Datepicker by Stefan Petre & Andrew Rowls :
        <ul>
            <li><a href="http://www.eyecon.ro/bootstrap-datepicker">http://www.eyecon.ro/bootstrap-datepicker</a></li>
            <li><a href="https://github.com/eternicode/bootstrap-datepicker">https://github.com/eternicode/bootstrap-datepicker</a></li>
            <li><a href="https://github.com/vitalets/bootstrap-datepicker">https://github.com/vitalets/bootstrap-datepicker</a></li>
        </ul>
    </h5>
    <h5>Bootstrap-Timepicker by jdewit : <a href="http://jdewit.github.com/bootstrap-timepicker">http://jdewit.github.com/bootstrap-timepicker</a></h5>
    <div class="well">
        {{ form_row(form.sdate) }}
        {{ form_row(form.mdate) }}
        {{ form_row(form.ldate) }}
        {{ form_row(form.fdate) }}
        {{ form_row(form.ddate) }}
        {{ form_row(form.cdate) }}
        {{ form_label(form.datetime) }}
        {{ form_row(form.datetime) }}
    </div>
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function() {
        function timeUpdate () {
            var now = new Date(),
                    hour = ((now.getHours() % 12) / 12) * 360 + 90,
                    second = now.getSeconds() * 6,
                    minute = now.getMinutes() * 6;

            $('#hour').css("transform", "rotate(" + hour + "deg)");
            $('#minute').css("transform", "rotate(" + minute + "deg)");
            $('#second').css("transform", "rotate(" + second + "deg)");
            setTimeout(timeUpdate, 1000);
        }
        timeUpdate();
    });
    </script>
{% endblock javascripts %}