{% extends 'BootstrappBundle:Doc:demo.html.twig' %}

{% block header %}
    {% set breadcrumb = [{'text':'mobiscroll', 'url':path('bootstrapp_mobiscroll')}]|merge(breadcrumb) %}
    {{ parent() }}
{% endblock header %}

{% block content %}
    <form action="{{ path('bootstrapp_mobiscroll') }}" method="post" {{ form_enctype(form) }}>
    <h4>Date and time pickers</h4>
    <h5>Mobiscroll date & time picker by acidb : <a href="http://mobiscroll.com">http://mobiscroll.com</a></h5>
    <div class="well">
        {{ form_row(form.date) }}
        {{ form_row(form.time) }}
        {{ form_row(form.datetime) }}
    </div>
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}