{% extends 'BootstrappBundle:Layout:base.html.twig' %}

{% if sidebar is not defined %}
    {% set sidebar = { visible: true, subnav: true } %}
{% endif %}
{% if header is not defined %}
    {% set header = { subnav: not sidebar.subnav } %}
{% endif %}


{% block stylesheets %}
{% stylesheets filter='less' output='bundles/bootstrapp/css/app.css'
    "@BootstrappBundle/Resources/public/less/app.less"
%}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock stylesheets %}

{% block headline %}Twitter Bootstrap application layout{% endblock headline %}

{% block flashes %}
{{ parent() }}
{% for name, value in app.session.flashbag if name in ['success', 'error'] %}
<div class="alert alert-{{ name }}">
    <a class="close" data-dismiss="alert" href="#">×</a>
    {{ value|trans }}
</div>
{% endfor %}
{% endblock flashes %}

{% block modal_id %}confirmer-modal{% endblock %}
{% block modal_class %}hide fade{% endblock %}
{% block modal_header %}{{ 'confirmer.header'|trans }}{% endblock %}
{% block modal_body %}
<p class="confirmer-modal-question">{{ 'confirmer.question'|trans }}</p>
{% endblock %}
{% block modal_footer %}
<a class="confirmer-modal-confirm btn btn-primary">{{ 'yes'|trans }}</a>
<a class="btn" data-dismiss="modal">{{ 'cancel'|trans }}</a>
{% endblock %}

{% block body %}
    <div id="modal-ask" class="modal hide fade">
        <div class="modal-header">
            {# <a class="close" data-dismiss="modal">×</a> #}
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4>{{ 'modal.header'|trans }}</h4>
        </div>
        <div class="modal-body">
            <p>{{ 'modal.body'|trans }}</p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary">{{ 'modal.button.ok'|trans }}</a>
            <a class="btn" data-dismiss="modal">{{ 'modal.button.cancel'|trans }}</a>
        </div>
    </div>
    {{ parent() }}
{% endblock body %}

{% block container %}
    {% if sidebar is defined and sidebar.visible == true %}
    <div id="sidebar">
        {% block sidebar %}
        <div id="sidebar-header">
            {% block sidebar_header %}
            {% endblock %}
        </div>
        <div id="sidebar-content">
            {% if sidebar is defined and sidebar.subnav == true %}
            {% block sidebar_nav %}
            {% set subnavType = 'list' %}
            {{ block('subnavbar') }}
            {% endblock %}
            {% endif %}
        </div>
        {% endblock sidebar %}
    </div>
    {% endif %}
    <div id="content">
        <div id="content-inner">
            {{ parent() }}
        </div>
    </div>
</div>
{% endblock container %}

{% block header %}
    {{ parent() }}
    {% if header is defined and header.subnav == true %}
        {% set subnavType = 'pills' %}
        {{ block('subnavbar') }}
    {% endif %}
{% endblock header %}

{% block subnavbar %}
{% if subnavType is not defined %}
    {% set subnavType = 'pills' %}
{% endif %}
<ul class="nav nav-{{ subnavType }}">
    {% block subnavbar_items %}
    {% if subnavType == 'pills' %}
    <li><a href="#"><i class="icon-info-sign"></i> {% trans %}Informations{% endtrans %}</a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="icon-flag"></i> {% trans %}Help{% endtrans %}</a></li>
    {% elseif subnavType == 'list' %}
    <li class="nav-header">{% trans %}Menu{% endtrans %}</li>
    <li class="active"><a href="#"><i class="icon-white icon-home"></i> {% trans %}Home{% endtrans %}</a></li>
    <li><a href="#"><i class="icon-info-sign"></i> {% trans %}About{% endtrans %}</a></li>
    <li class="nav-header">{% trans %}My account{% endtrans %}</li>
    <li><a href="#"><i class="icon-user"></i> {% trans %}Profile{% endtrans %}</a></li>
    <li><a href="#"><i class="icon-cog"></i> {% trans %}Settings{% endtrans %}</a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="icon-flag"></i> {% trans %}Help{% endtrans %}</a></li>
    {% endif %}
    {% endblock subnavbar_items %}
</ul>
{% endblock subnavbar %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='bundles/bootstrapp/js/app.js'
        'bundles/bootstrapp/js/app.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}