{% extends 'BootstrappBundle:Doc:readme.html.twig' %}

{% block headline %}Bootstrapp demo{% endblock %}

{% block header %}
    {% set breadcrumb = [{'text':'demo', 'url':path('bootstrapp_demo')}]|merge(breadcrumb) %}
    {{ parent() }}
{% endblock header %}

{% block content %}
    <h4>What can I do with Bootstrapp out of the box ?</h4>

    <div class="span3 docs-sidebar">
        <ul class="nav nav-list docs-sidenav">
            <li><a href="#datetime"><i class="icon-chevron-right"></i> Date and time pickers</a></li>
            <li><a href="#editors"><i class="icon-chevron-right"></i> Text editors</a></li>
        </ul>
    </div>
    <div class="span9">
        <!-- Date and time pickers
        ================================================== -->
        <section id="datetime">
            <h4>Date and time pickers</h4>
            <ul>
                <li><a href="{{ path('bootstrapp_eyecon') }}">Eyecon datepicker</a></li>
                <li><a href="{{ path('bootstrapp_pickadate') }}">Amsul pickadate</a></li>
                <li><a href="{{ path('bootstrapp_jqueryui') }}">jQuery datepicker</a></li>
                <li><a href="{{ path('bootstrapp_mobiscroll') }}">Acidb mobiscroll</a></li>
            </ul>
        </section>

        <!-- Icons
        ================================================== -->
        <section id="icons">
            <h4>Icons</h4>
            <ul>
                <li><a href="{{ path('bootstrapp_fontawesome') }}">Font Awesome</a></li>
            </ul>
        </section>

        <!-- Text editors
        ================================================== -->
        <section id="editors">
            <h4>Text editors</h4>
            <ul>
                <li><a href="{{ path('bootstrapp_redactor') }}">Redactor text editor</a></li>
            </ul>
        </section>
    </div>
    </form>
{% endblock %}