{% extends 'form_div_layout.html.twig' %}

{# Labels #}

{% block form_label %}
{% set label_attr = label_attr|merge({'class': 'control-label'}) %}
{{ parent() }}
{% endblock form_label %}

{# Fields #}

{% block date_widget %}
    {% spaceless %}
        {% if widget == 'choice' or widget == 'single_text' or widget == 'text' %}
            {{ parent() }}
        {% else %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' bootstrapp-datetime')|trim}) %}
            <div class="input-prepend inline date" data-widget="{{ widget }}" data-type='date' style="position:relative;">
                <span class="add-on"><i class="icon-calendar"></i></span>
                {{ block('form_widget_simple') }}
                <input type="text" class="{{ widget }}" style="position:absolute; top:0; right: 0; visibility: hidden;"/>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
    {% spaceless %}
        {% if widget == 'choice' or widget == 'single_text' or widget == 'text' %}
            {{ parent() }}
        {% else %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' input-small bootstrapp-datetime')|trim}) %}
            <div class="input-prepend inline time" data-widget="{{ widget }}" data-type='time' style="position:relative;">
                <span class="add-on"><i class="icon-time"></i></span>
                {{ block('form_widget_simple') }}
                <input type="text" class="{{ widget }} input-small" style="position:absolute; top:0; right: 0; visibility: hidden;"/>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock time_widget %}

{% block datetime_widget %}
    {% spaceless %}
        {% if widget == 'mobiscroll' %}
            {% set attr = attr|merge({'data-widget': widget, 'data-type':'datetime', 'style': 'position:relative;'}) %}
            <div {{ block('widget_container_attributes') }}>
                {{ form_errors(form.date) }}
                {{ form_errors(form.time) }}
                {{ form_widget(form.date) }}
                {{ form_widget(form.time) }}
                <input type="text" class="{{ widget }}" style="position:absolute; top:0; visibility: hidden;"/>
            </div>
        {% else %}
            {{ parent() }}
        {% endif %}
    {% endspaceless %}
{% endblock datetime_widget %}

{% block bootstrapp_bundle_location_widget %}
    <div class="row-fluid">
        <div class="span6">
            {{ form_row(form.streetNumber) }}
            {{ form_row(form.route) }}
            {{ form_row(form.postalCode) }}
            {{ form_row(form.locality) }}
            {{ form_row(form.shortCountry) }}
            {{ form_row(form.country) }}
            {{ form_row(form.administrativeAreaLevel1) }}
            {{ form_row(form.administrativeAreaLevel2) }}
            <hr/>
            {{ form_row(form.latitude) }}
            {{ form_row(form.longitude) }}
        </div>
        <div class="span6">
            <div class="input-append input-block-level">
                {{ form_widget(form.address, {'attr':{'class':'input-block-level'}}) }}
                <button id="{{ form.vars.id }}_locate" class="btn" type="button"><i class="icon-location"></i></button>
            </div>
            <div id="{{ form.vars.id }}_map" class="map google-maps"></div>
        </div>
    </div>
    <script type="text/javascript">
        window.addEventListener('load', function(){
            var latitude = {{ form.latitude.vars.data|default(0) }},
                longitude = {{ form.longitude.vars.data|default(0) }},
                mapOptions = {
                    scrollwheel: true,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    marker: { visible: true }
                };
            if (0 == latitude && 0 == longitude) {
                latitude = 46.227638;
                longitude = 2.213749;
                mapOptions.marker.visible = false;
                mapOptions.zoom = 5;
            }
            mapOptions.center = [latitude, longitude];
            $('#{{ form.address.vars.id }}').locationTypeahead({
                map: '#{{ form.vars.id }}_map',
                draggableMarker: true,
                mapOptions: mapOptions,
                boundElements: {
                    '#{{ form.address.vars.id }}': function (data) {
                        return data.formatted_address;
                    },
                    '#{{ form.streetNumber.vars.id }}': 'street_number',
                    '#{{ form.route.vars.id }}': 'route',
                    '#{{ form.postalCode.vars.id }}': 'postal_code',
                    '#{{ form.locality.vars.id }}': 'locality',
                    '#{{ form.shortCountry.vars.id }}': function (data) {
                        var result = '';
                        $.each(data.address_components, function (index, value) {
                            $.each(value.types, function (index, type) {
                                if (type == 'country') {
                                    result = value.short_name;
                                }
                            });
                            if (result.length >0) {
                                return false;
                            }
                        });
                        return result;
                    },
                    '#{{ form.country.vars.id }}': 'country',
                    '#{{ form.administrativeAreaLevel1.vars.id }}': 'administrative_area_level_1',
                    '#{{ form.administrativeAreaLevel2.vars.id }}': 'administrative_area_level_2',
                    '#{{ form.latitude.vars.id }}': function (data) {
                        return data.geometry.location.lat();
                    },
                    '#{{ form.longitude.vars.id }}': function (data) {
                        return data.geometry.location.lng();
                    }
                }
            });
            $('#bootstrapp_socialbundle_persontype_home_locate').click(function(e){
                var typeahead = $('#{{ form.address.vars.id }}').data('locationTypeahead');
                if (typeahead) {
                    typeahead.geocode();
                }
            });
        });
    </script>
{% endblock bootstrapp_bundle_location_widget %}

{# Errors #}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <span class="help-inline">
        {% for error in errors %}
        <p>{{
            error.messagePluralization is null
                ? error.messageTemplate|trans(error.messageParameters, 'validators')
                : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
        }}</p>
        {% endfor %}
    </span>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{# Rows #}

{% block form_row %}
{% spaceless %}
    <div class="control-group{% if errors %} error{% endif %}">
        {{ form_label(form) }}
        <div class="controls">
            {{ form_widget(form) }}
            {% if parent is defined %}
                {{ form_errors(parent) }}
            {% else %}
                {{ form_errors(form) }}
            {% endif %}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_rows %}
{% spaceless %}
    {% import 'BootstrappBundle:Macro:alert.html.twig' as alert %}
    {% if errors %}
        {% for error in errors %}
            {{ alert.message('error',
                error.messagePluralization is null
                ? error.messageTemplate|trans(error.messageParameters, 'validators')
                : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            ) }}
        {% endfor %}
    {% endif %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock form_rows %}